.app_layout{
  background: linear-gradient(62.95deg, #6663E8 0.64%, #AF68EA 100%);
  position: relative;
  margin: auto;
  width: 1147px;
  height: 776px;
  display: flex;
  justify-content: space-around;
}

@media(max-width: 400px) {
  .app_layout{
    flex-direction: column;
    display: flex;
    height: 776px;
  }
}
.faq_layout{
  width: 1023px;
  height: 528px;
  display: flex;
  top: 124px;
  position: relative;
}

@media(max-width: 400px) {
  .faq_layout{
    top: -50px;
  }
}


.img_vector{
  display: none;
}
@media(max-width: 400px) {
.img_vector{
  transform: rotateY(-180deg);
  width: 70px;
  display: block;
  position: absolute;
  top: 7.4px;
  left: 110px;
  clip: rect(0px, 460px, 500px, 32px);
  filter: drop-shadow(0px 25px 2px #E5E5E5);
}
}



.containerLeaft{
  position: absolute;
  top: 23%;
}